reviewing data
1. loading data(two csv files)
2. loading heads to check all columns.

In [14]:
import pandas as pd


logs_file = "C:/Users/Yawar/Detecting_Data_Breaches/data/processed/processed_logs_with_risk.csv"
summary_file = "C:/Users/Yawar/Detecting_Data_Breaches/data/processed/user_anomaly_summary.csv"


logs = pd.read_csv(logs_file)
user_summary = pd.read_csv(summary_file)


print(logs.head())
print(user_summary.head())

   user_id  total_anomaly_score  high_risk_count
0  user_77                   13                0
1  user_65                   13                0
2  user_13                   11                0
3  user_59                   11                0
4  user_41                   11                0

In [ ]:
Verify data by ensuring no data is missing(checking null data)

In [7]:

print(f"Logs shape: {logs.shape}")
print(f"User summary shape: {user_summary.shape}")


print(logs.isnull().sum())
print(user_summary.isnull().sum())

Logs shape: (1000, 14)
User summary shape: (100, 3)
timestamp              0
user_id                0
activity               0
location               0
status                 0
hour                   0
date                   0
time_diff            100
activity_sequence      0
unusual_time           0
high_activity          0
short_gap              0
anomaly_score          0
risk_category          0
dtype: int64
user_id                0
total_anomaly_score    0
high_risk_count        0
dtype: int64

printing top 10 users with highest anomaly score.

In [15]:

top_users = logs.sort_values(by = 'anomaly_score', ascending=False).head(10)
print("Top 10 users with highest anomaly scores:")
print(top_users)

Top 10 users with highest anomaly scores:
                      timestamp  user_id        activity   location   status  \
796  2024-12-05 01:19:24.734191  user_11           login     Mumbai  success
251  2024-11-12 04:19:24.730819  user_36     file_upload  Hyderabad  success
999  2024-11-24 04:19:24.735191  user_61     file_upload  New Delhi   failed
252  2024-11-16 01:19:24.730819  user_68           login  Bangalore   failed
895  2024-11-14 04:19:24.735191  user_63           login  Bangalore  success
785  2024-11-27 00:19:24.734191  user_16  password_reset  Bangalore   failed
996  2024-11-15 01:19:24.735191  user_60           login  Hyderabad  success
957  2024-11-17 02:19:24.735191  user_62  password_reset  Bangalore  success
244  2024-11-25 03:19:24.730819  user_52     file_upload  Hyderabad  success
278  2024-11-10 02:19:24.730819  user_57     file_upload     Mumbai   failed

     hour        date     time_diff  \
796     1  2024-12-05 -2.556000e+05
251     4  2024-11-12 -4.248000e+05
999     4  2024-11-24 -1.414800e+06
252     1  2024-11-16 -1.882800e+06
895     4  2024-11-14 -2.160000e+04
785     0  2024-11-27 -4.824000e+05
996     1  2024-11-15 -1.213200e+06
957     2  2024-11-17 -1.915200e+06
244     3  2024-11-25 -3.780000e+05
278     2  2024-11-10 -3.744000e+05

                                     activity_sequence  unusual_time  \
796  login -> file_upload -> login -> password_rese...             1
251  file_upload -> password_reset -> file_upload -...             1
999  password_reset -> file_upload -> file_upload -...             1
252  password_reset -> login -> file_upload -> file...             1
895  password_reset -> file_upload -> file_upload -...             1
785  login -> password_reset -> file_upload -> pass...             1
996  file_upload -> login -> password_reset -> logi...             1
957  password_reset -> login -> file_upload -> file...             1
244  login -> file_upload -> file_upload -> file_up...             1
278  file_upload -> file_upload -> file_upload -> f...             1

     high_activity  short_gap  anomaly_score risk_category
796              0          1              2   Medium Risk
251              0          1              2   Medium Risk
999              0          1              2   Medium Risk
252              0          1              2   Medium Risk
895              0          1              2   Medium Risk
785              0          1              2   Medium Risk
996              0          1              2   Medium Risk
957              0          1              2   Medium Risk
244              0          1              2   Medium Risk
278              0          1              2   Medium Risk